doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="initial-scale=1")
  body
    div(id='homepage')
      a(id='header', href='/')
        h1 M A T C H A
    br
    div(id='wrapper')
      a(id='submit' href='/register')
        div(class='button') Register
      br
      a(id='submit' href='/login')
        div(class='button') Login
    div(class="footer")
      a(class="footnote" href="https://github.com/cpk42") Created by cpk42
