doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        meta(name="viewport" content="initial-scale=1")
    body
        div(class='bodywrapper')
            div(id='navbar')
                a(id='header', href='/')
                    h1 M A T C H A
            div(id='wrapper')
                block content
