body {
    /* margin: 0 auto; */
    font: 14px "Verdana", Helvetica, Arial, sans-serif;
    animation: change-background ease 10s infinite alternate;
    color: #48435C;
}

.bodywrapper {
    /* width: 100%; */
    /* height: 100%; */
    /* background-image: url('../images/layout.png'); */
}

@keyframes change-background {
    0% {
        background: #BCB6FF;
    }

    50% {
        background: #f4d6db;
    }

    100% {
        background: #69b7eb;
    }
}

a {
    color: #00B7FF;
}

#navbar {
    width: 100%;
    text-align: center
}

#wrapper {
    /* background: #ffb1a1; */
    height: 100%;
    bottom: 0;
    text-align: center;
}

input[type="text"], input[type="email"], input[type="password"] {
    padding: 8px;
    width: 45%;
    border: none;
    margin-top: 2%;
    margin-bottom: 2%;
}

#header {
    text-decoration: none;
    color: #1a0000;
    animation: change-text 10s infinite alternate;
    width: 25%;
}

#header:hover {
    color: #ffde3f;
}

#homepage {
    margin-top: 20%;
    width: 100%;
    text-align: center
}

#submit {
    text-decoration: none;
    color: #1a0000;
    width: 25%;
}

#submit:hover {
    text-decoration: none;
    color: white;
    width: 10%;
}

.button {
    margin: auto;
    width: 20%;
    padding: 5px;
    border-radius: 10px;
    border: none;
    color: black;
    font-size: 10px;
}

.button:hover {
    margin: auto;
    color: #ffde3f;
    width: 20%;
    padding: 5px;
    border-radius: 10px;
}

.reglog:hover, button:hover {
    margin: auto;
    background: #ff5e6d;
    color: #ffde3f;
    width: 20%;
    padding: 5px;
    border-radius: 10px;
}

@keyframes float {
    from {
        font-size: 16px;
    }

    to {
        font-size: 17px;
    }
}

button, .reglog {
    background-color: #ffb1a1;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #BCB6FF;
    text-align: center;
}

.footnote {
    font-size: 10px;
    color: black;
    text-decoration: none;
}

@keyframes change-text {
    0% {
        color: #f4d6db;
    }

    50% {
        color: #69b7eb;
    }

    100% {
        color: #f4d6db;
    }
}

.profile {
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 80%;
    text-align: center;
    background: #1a0000;
    margin-bottom: 5%;
    padding-bottom: 1%;
    border-radius: 2%;
    animation: change-profile 10s infinite alternate;
}

.pheader {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.pinfo {
    display: block;
    text-align: center;
}

.pimg {
    border-radius: 50%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: inline-block;
    width: 30vw;
    height: 30vw;
    /* height: 50%; */
}

.imagewrapper {
    background-color: #AED9E0;
    width: 100%;
    margin: 0 auto;
    border-radius: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.imagelayover {
    background-color: #CFC0BD;
    box-shadow: 10px rgba(0, 0, 0, 0.6);
    width: 45%;
    height: 50%;
    margin: 0 auto;
    border-radius: 50%;
    /* background-image: url('../images/background.png'); */
    /* display: inline-block; */
}

.loginemail {
    margin-top: 5%;
    margin-bottom: 2%;
}

.loginpassword {
    margin-top: 2%;
    margin-bottom: 2%;
}

.loginheader {
    margin-top: 5%;
}

.homebutton {
    background-image: url("../images/homeicon.svg");
    width: 5%;
    /* display: inline-block; */
    margin-right: 0 auto;
}

.routebutton {
    width: 100%;
    height: 100%;
}

.preferences {
    display: block;
    margin: 0 auto;
}

.famewrapper {
    animation: change-profile 10s infinite alternate;
    width: 30%;
    margin: 0 auto;
    border-radius: 10%;
}

.psubinfo {
    vertical-align: bottom;
}

@keyframes change-profile {
    0% {
        background: #f4d6db;
    }

    50% {
        background: #69b7eb;
    }

    100% {
        background: #f4d6db;
    }
}
